.table {
    border: 1px solid white;
    border-spacing: 0px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.rows {
    border: 1px solid white;
    background-color: #ffffff2d;
}
.item {
    box-sizing: border-box;
    word-wrap: break-word;
    text-align: left;
    padding: 10px 5px;
    position: relative;
}