.auth__container{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width:100vw;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index:10;
}
.auth__formWrapper{
    display:flex;
    flex-direction: column;
    background: #91909073;
    padding: 50px 40px;
    /* padding-bottom:30px; */
    border-radius:10px;
    position: relative;
    /* gap:30px; */
}
.auth__form{
    display:flex;
    flex-direction: column;
    gap:30px;
    margin-top:30px;
    position: relative;
}
.auth__input{
    padding:20px;
    width:300px;
    height:30px;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    &:focus{
        outline: none;
    }
}
.auth__close{
    position: absolute;
    right:20px;
    top:20px;
    width:25px;
    height:25px;
    cursor: pointer;
}
.logoCenter{
    display:flex;
    align-items: center;
    justify-content: center !important;
}
.auth__submit{
    width:100%
}
.form__warningMessage{
    margin:0;
    /* height:5px; */
    position: absolute;
    top:-25px;
    color:red
}
label{
    position: relative;
}
.form__sendResult{
    margin:0;
    font-size:14px;
    text-align: center;
    color:red
}