@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap");
.trending_card-container {
  width: 243px;
  height: 301px;
  position: relative;
  display: flex;
  align-items: flex-end;
  border: 1px solid;
  border-radius: 20px;
  box-sizing: border-box;
}

.card-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  border: 1px solid;
  border-radius: 20px;
  transition: border-color 200ms ease-in;
  user-select: none;
}
.card-container:hover {
  border-color: transparent;
  transition: border-color 200ms ease-in;
}
.card-container:hover .card-text {
  opacity: 1;
  transition: 200ms ease-in;
}

.card-containerLink:hover + .card-container {
  border-color: transparent;
  transition: border-color 200ms ease-in;
}
.card-containerLink:hover + .card-container .card-text {
  opacity: 1;
  transition: 200ms ease-in;
}

.trending_card_text-wrapper {
  padding: 16px 16px 24px 20px;
}

.card-text {
  opacity: 0;
  color: black;
  background-color: #fafafa;
  background: linear-gradient(148deg, rgba(255, 255, 255, 0.8274509804) 0%, rgba(211, 211, 211, 0.4));
  backdrop-filter: blur(10px);
  border-radius: 0px 0px 20px 20px;
  width: 100%;
  transition: 200ms ease-in;
  overflow: hidden;
}

.card_text-bottomContainer {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
}

.trending_card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.trending_card-widget {
  position: absolute;
  right: 20px;
  top: 20px;
}

.trending_card-preloader {
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.card-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.card-widget {
  border: none;
  cursor: pointer;
  z-index: 2;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5.926px;
  border-radius: 8.296px;
  background: rgba(255, 255, 255, 0.862745098);
  backdrop-filter: blur(5.9259262085px);
}
.card-widget img {
  width: 15px;
  height: 15px;
}

.card_text-title {
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
  margin-top: 6px;
  font-weight: 600;
}

.cardList_card-wrapper {
  display: flex;
  gap: 24px;
  padding: 0px 42px 0px 32px;
}

.continue__section {
  margin-top: 32px;
}

.continue-title {
  margin: 0;
  margin-bottom: 16px;
}

.continue_card-container {
  width: 348px;
  height: 259px;
  box-sizing: border-box;
}

.continue_card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.continue_card-widget {
  position: absolute;
  top: 20px;
  right: 20px;
}

.continue_card_text-wrapper {
  border: 0;
  height: 86px;
  box-sizing: border-box;
  padding: 16px 0px 24px 20px;
}

.cardList-title {
  padding: 0px 42px 0px 32px;
}

@media screen and (max-width: 700px) {
  .trending_card-container {
    width: 200px;
    height: 259px;
  }
  .continue_card-container {
    width: 250px;
    height: 240px;
    box-sizing: border-box;
  }
  .cardList_card-wrapper {
    padding: 0px 22px 0px 20px;
  }
}/*# sourceMappingURL=cardList.css.map */