.filmsList__tableHead {
    background-color: transparent;
}
.filmsList__rows {
    height: 60px;
    overflow-y: hidden;
    max-height: 60px td {
        height: 60px;
    }
}
.filmsList__menuIcon {
    width: 20px;
    height: 20px;
    transition: 400ms ease;
    pointer-events:none;
}
.filmsList__menuIcon-active {
    transform: rotate(180deg);
    transition: 400ms ease;
}
a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    // text-align: center;
}
.addFilm__link{
    position: absolute;
    right:30px;
    top:45px
}
.toggleMenu {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: fit-content;
    position: absolute;
    height:25px;
    overflow: hidden;
    box-sizing: border-box;
    top:calc(50% - (25px / 2));
    background-color: #21201e;
    color: #fff;
}
.toggleMenu-active{
    height:fit-content;
    z-index:2;
}
.toggleMenu__headerWrapper{
    display:flex;
    gap:10px;
    align-items: center;
    cursor: pointer;
}
.toggleMenu__item,
.toggleMenu__headerWrapper {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height:25px;
    box-sizing: border-box;
    padding-left:5px;
}
.toggleMenu__headerWrapper{
    border-top:none
}
.toggleMenu__item:hover {
    background-color: #ffffff1c;
}
.toggleMenu__bodyWrapper {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:450px) {
    .addFilm__link{
        button{
            padding: 3px 6px
        }
    }
}
@media screen and (max-width:400px) {
    .addFilm__link{
        button{
            width:100px
        }
    }
}
